*{
    margin: 0;
    padding: 0;
    
}
.head{
    display: block;
    position: relative;
    width: 100%;
    height: 72px;
    padding: 0 15px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 1010;
}
.small-list{
    width:50px;
    height: 100%-.5rem;
    padding: 0.5rem;
}
.small-list button{
    border:0;
    background-color: white;
}
.navigation{
    display:flex;
    width: 100%;
}
.nav3{
    margin: 0rem 0.4rem;
    width: 5.5rem;
    text-align: center;
    position: relative;
}
.nav1{
    margin: 0rem 0.4rem;
    width: 9rem;
    text-align: center;
    position: relative;
}
.nav2{
    margin: 0rem 0.2rem;
    width: 6rem;
    text-align: center;
    position: relative;
}
.cart img{
    margin-left: -30px;
}
.logo{
    padding: 0.7rem 0;
}
.cen{
    padding: 1.2rem 0 0 0;
}
a{
    color:black;
    text-decoration: none;

}
.out{
    background-color: rgb(28,29,31);
}
.out p{
    color:white;
}
.nav3.search{
    width:45%;
    text-align:left;
    padding: 0.7rem 0 0.3rem 0;
    height: 65px;
    min-width: 470px;
}
.formo{
    position:relative;
    border: black solid 1px;
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    background-color: #F7F9FA;
}
.formo button{
    margin: 0.4rem 0.4rem 0 .8rem;
    width: 35px;
    height:30px;
    background-color: #F7F9FA;
    border: 0 white ;
}
.formo input[type=text]{
    position: absolute;
    height: 70%;
    width: 85%;
    top:7px;
    left: 55px;
    border: 0 white;
    outline: none;
    font-size: 1rem;
    background-color: #F7F9FA;
}
.buttono{
    border: 1px black solid;
    
    padding: 0.5rem 0.1rem;
    width: 90%;
    height: 75%;
}
.beforema{
    height: 400px;
    width:90%;
    margin-left: 5%;
    text-align: center;
    position: relative;
    z-index: 1000;
}
.par{
    position: absolute;
    top: 4rem;
    left: 10rem;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    height: 65%;
    width: 25rem;
    text-align: left;
    font-size: 1.5rem;
    
}

.buttono1{
    border: 1px black solid;
    width: 5rem;
    text-align: center;
    padding: 0.5rem 0.2rem;
    height: 60%;
}

.main{
    width:100%;
    height:fit-content;
    padding: 1rem 6.5%;
}
.small-list{
    display: none;
}
.container{
    display:
    flex;
    width:100%;
    height:
    fit-content;
    flex-wrap: wrap;
    
}

.acourse{
    margin-right: .5rem;
    width: 240px;
    margin-bottom: .4rem;
}
.acourse img{
    width:230px;
    border:#D1D6DC 1px solid;
}
.listo:hover p{
    color: rgb(87,37,208);
}
.listo:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}

.buttono:hover{
    background-color: rgb(245,245,245);
    cursor: pointer;
}
.buttono.out:hover{
    background-color: black;
}
.buttono1:hover{
    background-color: rgb(245,245,245);
    cursor: pointer;
}
.courses{
    border: 1px solid #d1d7dc;
    /*box-sizing: border-box;
    height: 100%;*/
    margin-bottom: 2rem;
    padding: 2rem;
}
.control-carousel-left,.control-carousel-right{
    background-color: black;
    border-radius: 9999px;
    border:1px black solid;
    color: white;
    width: 45px;
    height:45px;
    font-size: 0.7rem;
    
}
.control-carousel-left{
    position: absolute;
    left :-30px;
    top: 45px;
}
.control-carousel-right{
    position: absolute;
    right :-30px;
    top: 45px;
}
.control-carousel-left:hover,.control-carousel-right:hover{
    background-color: rgb(28,29,31);
}
.list{
    margin: 0.5rem 0;
}
.list ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.list ul li{
    display: block;
    font-weight: bold;
    height: 1.5rem;
    padding: 0 1rem 0 0;
    text-align: center;
    color: #6a6b6a;
}
.list ul li:hover{
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.categories-grid{
    width:100%;
    height:fit-content;
    padding: 1rem 6.5%;
}
.medium-size-grid{
    display: none;
}
@media (max-width: 1470px){
    @media (min-width: 1108px){
        .medium-size-grid{
            display: block;
        }
        .large-size-grid{
            display: none;
        }
    }
}
@media (max-width: 1270px){
    .nav1.bussiness{
        display: none;
    }
}
@media (max-width: 1160px){
    .nav1.tech{
        display: none;
    }
}
@media (max-width: 1085px) {
    .nav3 , .nav2 , .nav1{
        display: none;
    }
    .small-list{
        display: block;
    }
    .logo{
        display: block;
        position: absolute;
        right: 20px;
    }
    .beforema{
        height: fit-content;
        width:90%;
        
        border: 1px #d1d7dc solid;
    }
    .par{
        position:static;
        width: 90%;
        box-shadow: none;
        padding: 20px;

    }
}
